@model ProiectDAW.Models.Orientation

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Orientation", method: FormMethod.Post))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(o => o.OrientationId)

    @Html.LabelFor(o => o.Name, "Organisation type(level of operation):")
    <br />
    @Html.EditorFor(o => o.Name, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(o => o.Name, "", new { @class = "text-danger" })
    <br />
    <br />

    <button type="submit" class="btn btn-primary">Update</button>
}