@model ProiectDAW.Models.Organisation
@Scripts.Render("~/Scripts/yourScript.js")

@{
    ViewBag.Title = "Details";
    var emptyDescriptionMsg = "This organisation has no description!";
}

<h2>@ViewBag.Title</h2>


@Html.Label("Name", "Name:")
<br />
<p>@Model.Name</p>
<br />

@Html.Label("OrganisationType", "Level of operation:")
<br />
<p>@Model.OrganisationType.Name</p>
<br />


@Html.Label("Description", "Description:")
<br />
<div class="panel-body">
    @if (Model.Description.IsEmpty())
    {
        <p>@emptyDescriptionMsg</p>
    }
    else
    {
        @Html.DisplayFor(m => m.Description)
    }
</div>
<br />


@if (Model.Projects.Count > 0)
{
    <div class="container my-3">
        <h3 class="font-weight-lighter">Projects</h3>
        <div class="row mx-auto my-auto">
            <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                <div class="carousel-inner w-100" role="listbox">
                    @foreach (var project in Model.Projects)
                    {
                        <div class="carousel-item active">
                            <div class="col-md-4">
                                <img />
                                <div class="card card-body">
                                    <h4 class="font-weight-lighter">@project.Name</h4>
                                    <p class="card-text">@project.ShortDescription</p>
                                    @using (Html.BeginForm(actionName: "Details", controllerName: "Project",
                                        method: FormMethod.Get, routeValues: new { id = project.ProjectId }))
                                    {
                                        <button class="btn btn-info">Details</button>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

<br />
<br />

@if (Model.Orientations.Count > 0)
{<strong>Orientations:</strong>
    <ul class="list-group">
        <br />
        @foreach (var orientation in Model.Orientations)
        {
            <li class="list-group-item list-group-item-secondary">@orientation.Name</li>
        }
    </ul>
}

<br />
<br />

@using (Html.BeginForm(actionName: "Edit", controllerName: "Organisation", method: FormMethod.Get, routeValues: new { id = Model.OrganisationId }))
{
    <button style="margin-right:12px;" class="btn btn-primary col-lg-1" type="submit">Update</button>
}

@using (Html.BeginForm(actionName: "Delete", controllerName: "Organisation", method: FormMethod.Post, routeValues: new { id = Model.OrganisationId }))
{
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button class="btn btn-secondary col-lg-1" type="submit">Delete</button>
}

<br />
<br />