@model ProiectDAW.Models.Organisation
@{
    ViewBag.Title = "Edit";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Organisation"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(o => o.OrganisationId)
    <br />

    @Html.LabelFor(o => o.Name, "NGO's name:")
    <br />
    @Html.EditorFor(o => o.Name, new { htmlAttributes = new { @class = "form-control " } })
    @Html.ValidationMessageFor(o => o.Name, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.LabelFor(o => o.RegistrationDate, "NGO's registration number:")
    <br />
    @Html.EditorFor(o => o.RegistrationDate, new { htmlAttributes = new { @class = "form-control " } })
    @Html.ValidationMessageFor(o => o.RegistrationDate, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.LabelFor(o => o.RegistrationCode, "NGO's registration code:")
    <br />
    @Html.EditorFor(o => o.RegistrationCode, new { htmlAttributes = new { @class = "form-control " } })
    @Html.ValidationMessageFor(o => o.RegistrationCode, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("OrganisationType", "Level of operation:")
    <br />
    @Html.DropDownListFor(o => o.OrganisationTypeId, new SelectList(Model.OrganisationTypeList, "Value", "Text"),
    "Choose a level of operation", new { @class = "form-control" })
    @Html.ValidationMessageFor(o => o.OrganisationTypeId, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.LabelFor(o => o.OrientationsList, "Choose your organisation's orientations:")
    <br />
    for (int i = 0; i < Model.OrientationsList.Count(); i++)
    {
        @Html.HiddenFor(o => o.OrientationsList[i].Id)
        @Html.HiddenFor(o => o.OrientationsList[i].Name)
        @Html.CheckBoxFor(o => o.OrientationsList[i].Checked)
        @Html.DisplayFor(o => o.OrientationsList[i].Name)
        <br />
    }
    <br />

    @Html.LabelFor(o => o.ShortDescription, "Short description:")
    <br />
    @Html.TextAreaFor(o => o.ShortDescription, new { htmlAttributes = new { @class = "fomr-control", @rows = "6", @cols = "256" } })
    @Html.ValidationMessageFor(o => o.ShortDescription, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.LabelFor(o => o.Description, "Description:")
    <br />
    @Html.TextAreaFor(o => o.Description, new { htmlAttributes = new { @class = "fomr-control", @rows = "15", @cols = "256" } })
    @Html.ValidationMessageFor(o => o.Description, "", new { @class = "text-danger" })
    <br />
    <br />

    <button class="btn btn-secondary" type="submit">Update</button>
}