@model ProiectDAW.Models.Organisation
@{
    ViewBag.Title = "Create";
}

<h2>@ViewBag.Title</h2>

<div class="panel-body">
    @using (Html.BeginForm(actionName: "New", controllerName: "Organisation", method: FormMethod.Post))
    {
        @Html.Label("Name", "NGO's name:")
        <br />
        @Html.TextBoxFor(o => o.Name, null, new { placeholder = "Type in the NGO's name...", @class = "text-control" })
        @Html.ValidationMessageFor(o => o.Name, "", new { @class = "text-danger" })
        <br />
        <br />

        @Html.LabelFor(o => o.RegistrationDate, "NGO's registration number:")
        <br />
        @Html.TextBoxFor(o => o.RegistrationDate, null, new { placeholder = "Type in the NGO's registration number...", @class = "text-control" })
        @Html.ValidationMessageFor(o => o.RegistrationDate, "", new { @class = "text-danger" })
        <br />
        <br />

        @Html.Label("OrganisationType", "Level of operation:")
        <br />
        @Html.DropDownListFor(o => o.OrganisationTypeId, new SelectList(Model.OrganisationTypeList, "Value", "Text"),
        "Choose a level of operation", new { @class = "form-control" })
        @Html.ValidationMessageFor(o => o.OrganisationTypeId, "", new { @class = "text-danger" })
        <br />
        <br />

        @Html.Label("ShortDescription", "Short descritption:")
        <br />
        @Html.TextArea("ShortDescription", null, new { placeholder = "Type in the short description...", @class = "text-control", @rows = "6", @cols = "256" })
        @Html.ValidationMessageFor(o => o.ShortDescription, "", new { @class = "text-danger" })
        <br />
        <br />

        @Html.Label("Description", "Description:")
        <br />
        @Html.TextArea("Description", null, new { placeholder = "Type in your values and mission...", @class = "text-control", @rows = "15", @cols = "256" })
        @Html.ValidationMessageFor(o => o.Description, "", new { @class = "text-danger" })
        <br />

        <button class="btn btn-secondary" type="submit">Create</button>
    }
</div>