@model ProiectDAW.Models.Project

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Project"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(p => p.ProjectId)
    <br />

    @Html.LabelFor(p => p.Name, "Project's name:")
    <br />
    @Html.EditorFor(p => p.Name, new { htmlAttributes = new { @class = "form-control " } })
    @Html.ValidationMessageFor(p => p.Name, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Organisation", "Organisation:")
    <br />
    @Html.DropDownListFor(p => p.OrganisationRefId, new SelectList(Model.OrganisationList, "Value", "Text"),
    "Choose the organisation", new { @class = "form-control" })
    @Html.ValidationMessageFor(o => o.OrganisationRefId, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.LabelFor(p => p.ShortDescription, "Short description:")
    <br />
    @Html.TextAreaFor(p => p.ShortDescription, new { htmlAttributes = new { @class = "fomr-control", @rows = "6", @cols = "256" } })
    @Html.ValidationMessageFor(p => p.ShortDescription, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.LabelFor(p => p.Description, "Description:")
    <br />
    @Html.TextAreaFor(p => p.Description, new { htmlAttributes = new { @class = "fomr-control", @rows = "12", @cols = "256" } })
    @Html.ValidationMessageFor(p => p.Description, "", new { @class = "text-danger" })
    <br />
    <br />

    <button class="btn btn-secondary" type="submit">Update</button>
}